
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 25%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 300px;
  text-align: left !important;
}

tr.mat-row, tr.mat-footer-row {
  height: 43px;
  vertical-align: middle;
}

tr.mat-header-row {
  height: 45px;
  vertical-align: middle;
}

th.mat-header-cell{
  background-color: rgb(201, 200, 200);
  font-size: medium;
  font-weight: 500;
}
